<!-- go back or forward button -->
<div class="flex space-x-4 justify-center bg-slate-700 container mx-auto">
    <div class="m-3 ">
      <button type="button" class="inline-block bg-white rounded-xl p-3 hover:scale-105 transition duration:300 shadow-2xl">Previous Article</button>
      <button type="button" class="inline-block bg-white rounded-xl p-3 hover:scale-105 transition duration:300 shadow-2xl">Next Article</button>
    </div>
  </div>


<footer>
    <nav class="container mx-auto bg-slate-800 p-4">
        <div class="text-center text-white text-2xl font-serif">
        contact us   
    </div> 
    </nav>
</footer>