

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="../public/styles/styles.css"> -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <nav class="container mx-auto bg-slate-800 p-4">

        <div class="relative flex items-center justify-between text-white text-5xl font-serif p-4 m-3">
            <div class="flex-1 absolute left-0">
                <a href="#">
                   NewsPaper.com 
                </a>   
            </div>
            <div class="flex-1 text-2xl absolute right-0">
                login
            </div>
        </div>

    </nav>
</body>