<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>
      Welcome
    </title>
</head>

<!-- header -->
<%- include('partials/head') %>

<div class="container mx-auto p-10 bg-stone-500 min-h-screen bg-slate-700">

<!-- receive user search query -->
<script type="text/javascript">
    let search = prompt('what do you want to search about')
    console.log(search)
</script>

</div>
